// @import '~ant-design-vue/dist/antd.less';
// @import './darkTabs.less'; // tabs样式重写
// @import './darkSelect.less'; // select样式重写
// @import './darkInput.css';
// @import './darkSearchInput.less';
// @import './darkPagination.less';
// @import './darkInput.less';
// @import './darkTable.less';
// @import './darkCalendar.less';
// @import './darkButton.less';
// @import './homeAll.less';
//@primary-color:#5868D9; // 全局主色
//@select-border-color: rgb(116,119,126);
//@input-border-color: rgb(116,119,126);
//@input-bg: transparent;
//@input-color:#c4cbec;
//@input-placeholder-color: #646464;
//@table-header-bg: transparent;
//@table-header-color: #CCCCCC;
//@tabs-card-head-background:transparent; // tab标签中未被选中的标签背景色
//@tabs-card-active-color: #8594FB; //被选中的tab标签的文字颜色
//@checkbox-check-color: #c4cbec; // checkbox背景颜色

a{
    color: rgb(165,234,255);
}
a:active {
    color: rgb(84, 212, 252);
}
a:hover{
    color: rgb(112, 220, 253);
}

//滚动条
&::-webkit-scrollbar {
    width: 7px;
}
&::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #737372;
}
&::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 0;
    background: #191f28;
}